<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
</nav>
<h1>{{aim}}</h1>


<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Sign In</h3>

            </div>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="acno" name="acno"  [placeholder]="accno" id="login_accno" required>

                    </div>
                    <div style="color: red;"
                    *ngIf="(this.loginForm.get('acno')?.touched||this.loginForm.get('acno')?.dirty)&&(this.loginForm.get('acno')?.errors)">
                    Invalid Account Number</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="passw" name="passw"  [placeholder]="pswd" id="login_password" required>
                    </div>
                    <div style="color: red;"
                    *ngIf="(this.loginForm.get('passw')?.touched||this.loginForm.get('passw')?.dirty)&&(this.loginForm.get('passw')?.errors)">
                    Invalid Password</div>


                    <div class="form-group">
                        <input type="submit" value="Login"  class="btn float-right login_btn " style="width:50%">
                    </div>
                </form>
            </div>
            <p style="color:white;align-items:baseline;">Not a user? <a routerLink="register">Register</a></p>
        </div>
    </div>
</div>