<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
</nav>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>AMOUNT</th>
            <th>TYPE</th>
        </tr>
    </thead>
    <tbody class="text-primary">
        <tr *ngFor="let transaction of transactions">
            <td>{{transaction.amount}}</td>
            <td>{{transaction.type}}</td>
        </tr>
        
    </tbody>
  </table>
  <a routerLink="/dashboard">Back</a>